# Please type your student ID: 111522071

# HW3-1: Simple Linear Regression

# HW3-2: Mutiple Linear Regression

In [1]:
#Import data analysis Library
import numpy as np
import numpy.random as random
import scipy as sp
from pandas import Series, DataFrame
import pandas as pd

# Visualization Library
import matplotlib.pyplot as plt
import matplotlib as mpl
import seaborn as sns
%matplotlib inline

# Machine Learning Library
import sklearn

# Three digits after decimal point
%precision 3

'%.3f'

In [11]:
import requests, zipfile
import io

# Read car selling data
url = 'http://archive.ics.uci.edu/ml/machine-learning-databases/autos/imports-85.data'
res = requests.get(url).content

# Make the data be DataFrame
auto = pd.read_csv(io.StringIO(res.decode('utf-8')), header=None)

# Set tages in the data column
auto.columns =['symboling','normalized-losses','make','fuel-type' ,'aspiration','num-of-doors',
                            'body-style','drive-wheels','engine-location','wheel-base','length','width','height',
                            'curb-weight','engine-type','num-of-cylinders','engine-size','fuel-system','bore',
                            'stroke','compression-ratio','horsepower','peak-rpm','city-mpg','highway-mpg','price']

In [12]:
print('Dimension of Data:{}'.format(auto.shape))

Dimension of Data:(205, 26)

In [13]:
# Show the first 5 rows
auto.head()

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450

In [14]:
# Count the number of “?” in the dataframe.
auto = auto[['price','horsepower','width','height']]
auto.isin(['?']).sum()

price         4
horsepower    2
width         0
height        0
dtype: int64

In [15]:
# Replace “?” to NaN and delete the row.
auto = auto.replace('?',np.nan).dropna()
print('Dimension of Data:{}'.format(auto.shape))

Dimension of Data:(199, 4)

In [16]:
print('Data Type（Before Change）\n{}\n'.format(auto.dtypes))

Data Type（Before Change）
price          object
horsepower     object
width         float64
height        float64
dtype: object

In [17]:
# Data Type Change
auto = auto.assign(price = pd.to_numeric(auto.price))
auto = auto.assign(horsepower = pd.to_numeric(auto.horsepower))
print('Data Type（After Change）\n{}'.format(auto.dtypes))

Data Type（After Change）
price           int64
horsepower      int64
width         float64
height        float64
dtype: object

In [18]:
# Observe the Correlation
auto.corr()

               price  horsepower     width    height
price       1.000000    0.810533  0.753871  0.134990
horsepower  0.810533    1.000000  0.615315 -0.087407
width       0.753871    0.615315  1.000000  0.309223
height      0.134990   -0.087407  0.309223  1.000000

In [20]:
# Import Data Split Library
from sklearn.model_selection import train_test_split

# Import Linear Regression Model
from sklearn.linear_model import LinearRegression

# Specify target variable as price. Other variables are explanatory variables.
X = auto.drop('price',axis = 1)
Y = auto['price']

# Split trainset and testset
X_train,X_test,Y_train,Y_test = train_test_split(X,Y,test_size = 0.5,random_state = 0)

# Initialize Multiple Linear Regression Model and Train Model
model = LinearRegression()
model.fit(X_train,Y_train)

# Print Coefficient of Determination 
print('Coefficient of Determination (train):{:.3f}'.format(model.score(X_train,Y_train)))
print('Coefficient of Determination (test):{:.3f}'.format(model.score(X_test,Y_test)))
 
# Regression Coefficient and Intercept
print('\nRegression Coefficient\n{}'.format(pd.Series(model.coef_, index=X.columns)))
print('Intercept: {:.3f}'.format(model.intercept_))

Coefficient of Determination (train):0.733
Coefficient of Determination (test):0.737

Regression Coefficient
horsepower      81.651078
width         1829.174506
height         229.510077
dtype: float64
Intercept: -128409.046